# Environments
.env
.env.*
!.env.example
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Logs and Databases
*.sqlite3
*.db
*.log

# Docker data
prometheus-data/
redis-data/

# Testing
.pytest_cache/
